<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yari Gonzalez">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yari Gonzalez Professional Website">
    <title>Yari Gonzalez</title>
</head>
<body style="font-family: Arial">
    <header style = "color:blue;background:lightblue"><h1>Yari Gonzalez</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>

        </nav>
    </header>
    <div class="name">
        <h2>Contact Me</h2>
        <form>
            <label for="fname">Your name(required)</label>
            <input type="text" name ="fname" required>
            <label for="email">Your email</label>
            <input type="text" name ="email" required>
            <label for="comment">Your comment</label>
            <textarea id = "comment" type="text" name = "comment" rows ="4" cols = "50" required style="margin: 0 10px; display: inline-block; vertical-align:bottom;"></textarea>
            <input type="submit" value="send">
        </form>
        <table>
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><p>Email:</p></td> 
                <td><p><a href="mailto:yaritzag@andrew.cmu.edu" target="_blank">yaritzag@andrew.cmu.edu</a></p></td>
            </tr>
            <tr>
                <td><p>Phone:</p></td>
                <td><p>(956)-405-4438</p></td>
            </tr>
            <tr>
                <td><p>LinkedIn:</p></td>
                <td><p><a href="https://www.linkedin.com/in/yaritza-gonzalez/" target="_blank">yaritza-gonzalez</a></p></td>
            </tr>
        </table>
    </div>
    <footer> © 2025 designed and coded by Yari Gonzalez</footer>
</body>
</html>