<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yari Gonzalez">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yari Gonzalez Professional Website">
    <title>Yari Gonzalez</title>
    <link rel ="stylesheet" href = "../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header><h1 id ="webname">Yari Gonzalez</h1>
        <nav>
            <a href="../index.html">About Me</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Fun Activities</a>
            <a href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="name">
        <h2>Curriculum Vitae</h2>
    </div>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Undergraduate Admissions Assitant</td>
            <td>I help assist prospective students and parents by sharing my personal experience and answering any questions they have.</td>
        </tr>
        <tr>
            <td>First-Year Representative for SHPE</td>
            <td>I sit in executive board meetings and give input on the events we seek to plan for first-years.</td>
        </tr>
        <tr>
            <td>Women in IS</td>
            <td>I meet with my mentor and discuss academic and personal strories which increase my sense of belonging and overall enjoyment of IS.</td>
        </tr>
        <tr>
            <td>Running Club</td>
            <td>I run with the running club which helps me be part of a community that enjoys the same hobby.</td>
        </tr>
    </table>
    <a href="../static/Yaritza_Janeth_GonzalezResume.pdf" target="_blank" >Yari's Resume in PDF Format</a>
    <footer> ©2025 designed and coded by Yari Gonzalez</footer>
</body>
</html>