<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yari Gonzalez">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Yari Gonzalez Professional Website">
    <title>Yari Gonzalez</title>
    <link rel ="stylesheet" href = "../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
</head>
<body onload = "addYear()">
    <header><h1 id ="webname">Yari Gonzalez</h1>
        <nav>
            <a href="../index.html">About Me</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Fun Activities</a>
            <a href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div class = "item1">
        <h2>Things I love to do for fun!</h2>
       <!--<button id ="seeMore" onClick = "showList()">Click to see... </button>-->
        <ul id = "favList">
            <li>Running</li>
            <li>Sleeping</li>
            <li>Talking with Friends</li>
            <li>Playing Puzzle Games</li>
        </ul>
        </div>
        <div class = "item2">
            <img class = "funIMG" src="../static/funphoto.png" alt="Picture of Fun" width= "300" height="250" />
        </div>
        <div class = "item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K87aFjB7Ff0?si=f7VO6mlYdGiLegwl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        </div>
        <div class = "item4">
            <div class ="container">
                <h2>Need Some Advice?</h2>
                <p id = "adviceText"> Click the button to get a random piece of advice!</p>
                <button id ="adviceButton" onclick = "getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer> <p id = "copyYear">Designed and coded by Yari Gonzalez</p></footer>
</body>
</html>